* {
    margin: 0;
    padding: 0;
    font-size: 50px;
}

main {
    width: 480px;
}

// .calculator {
//     &__screen {
//     }

//     &__keys {
//     }
// }

@media screen and (min-width: 768px) {
    * {
        font-size: 65px;
    }

    main {
        width: 800px;
    }

    .calculator {
        height: 100vh;
    }
}

@media screen and (min-width: 991px) {
    * {
        font-size: 70px;
    }

    main {
        width: 1000px;
    }
}