

.german-flag {
    max-width: 600px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid black;}


.black-stripe {
    background-color: #000000;
    height: 100px;
}

.red {
    background-color: #ff0000;
    height: 100px;
}

.yellow-stripe {
    background-color: #ffcc00;
    height: 100px;
}

.german-flag:hover 
    .black-stripe {
        background-color: #cd2a3e;
        transition: 0.5s ease-in;
    }

.german-flag:hover
    .red {
        background-color: #ffffff;
        transition: 0.5s ease-in;
    }

.german-flag:hover
    .yellow-stripe {
        background-color: #436f4d;
        transition: 0.5s ease-in;
    }

.french-flag {
    border: 1px solid black;
    height: 300px;
    width: 600px;
    position: relative;
    margin:  20px auto;
}

.blue-stripe {
    background-color: #0050a4;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
}

.white-stripe {
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: 200px;
    height: 100%;
    width: 200px;
}

.red-stripe {
    background-color: #ef4135;
    position: absolute;
    top: 0px;
    left: 400px;
    width: 200px;
    height: 100%;
}

.french-flag:hover
    .blue-stripe {
        background-color: #009a49;
        transition: 0.5s ease-in;
    }

.french-flag:hover
    .red-stripe {
        background-color: #ff7900;
        transition: 0.5s ease-in;
    }
