* {
    background-color: white;
    padding: 30px;
}

.german-flag {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 0;
}

.child-one {
    background-color: #000000;
}

.child-two {
    background-color: #ff0000;
}

.child-three {
    background-color: #ffcc00;
}

.german-flag:hover 
    .child-one {
        background-color: #cd2a3e;
        transition: 0.5s ease-in;
    }

.german-flag:hover
    .child-two {
        background-color: #ffffff;
        transition: 0.5s ease-in;
    }

.german-flag:hover
    .child-three {
        background-color: #436f4d;
        transition: 0.5s ease-in;
    }

.french-flag {
    margin: auto;
    padding: 0;
    width: 300px;  
    height: 200px;
    position: relative;
    border: 1px solid black
}

.white-stripe::before {
    content: "";
    background-color: #001489;
    position: absolute;
    height: 200px;
    width: 100px;
    right: 100px;
}

.white-stripe {
    background-color: #ffffff;
    position: relative;
    left: 100px;
    height: 200px;
    width: 100px;
    padding: 0;
}

.white-stripe::after {
    content: "";
    background-color: #ef3340;
    position: absolute;
    height: 200px;
    width: 100px;
    left: 100px;
}

.french-flag:hover 
    .white-stripe::before {
        background-color: #169b62;
        transition: 0.5s ease-in;
    }

.french-flag:hover
    .white-stripe::after {
        background-color: #ff8200;
        transition: 0.5s ease-in;
    }


