
* {
   font-family: arial;
   font-size: 20px;
}

body {
    height: 100vh;
}


h1 {
   font-size: 25px;
}

#top {
    display: flex;
    margin-bottom: 15px;
}

#logo {
    color: white;
    background-color: #008000;
    flex-direction: row;
    width: 15%;
    text-align: center;
}

#nav {
    color: white;
    background-color: black;
    width: 85%;
    text-align: right;
}

nav li {
    display: inline;
    font-size: 25px;
    padding: 0 5% 0 5%;
}

#left-content li {
    padding: 10px;
}


.black-border {
    border: 3px solid black;
   margin: 15px;
   padding: 10px;
}



#left-content {
    width: 75%;
    flex-direction: column;

}

#right-content {
    width: 25%;
    text-align: justify;
}


#main-content {
   display: flex;
}

