@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap');

$font-body: "Archivo", sans-serif;
$color-white: #fafafa;

* {
    margin: 0;
    padding: 0;
    font-family: $font-body;
    color: $color-white;
}