.header {
    
    &__star-one {
        position: absolute;
        font-size: 9px;
        left: 17px;
        top: 23px;
        animation-iteration-count: infinite;
        animation-name: twinkle;
        animation-duration: 2s;
    }

    &__star-two {
        position: absolute;
        font-size: 8px;
        left: 34px;
        top: 28px;
        animation-iteration-count: infinite;
        animation-name: twinkle;
        animation-duration: 1.9s;
    }

    &__star-three {
        position: absolute;
        font-size: 6px;
        left: 26px;
        top: 42px;
        animation-iteration-count: infinite;
        animation-name: twinkle;
        animation-duration: 2.1s;
    }

    &__shooting-star {
        position: absolute;
        font-size: 4px;
        left: -100px;
        animation-name: shooting;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }
}

.projects {
    
    &__star-one {
        position: absolute;
        font-size: 14px;
        right: 5%;
        bottom: 12%;
        animation-iteration-count: infinite;
        animation-name: twinkle;
        animation-duration: 2.1s;
    }

    &__star-two {
        position: absolute;
        font-size: 8px;
        right: 3%;
        bottom: 6%;
        animation-iteration-count: infinite;
        animation-name: twinkle;
        animation-duration: 1.9s;
    }
}

.container {
    width: 70%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2%;
    border-top: 1px solid $color-white;
    position: relative;

    &__link-one {
        grid-row-start: 1;
        grid-row-end: 2;
        border-bottom: 1px solid $color-white;
        position: relative;
    }

    &__link-two {
        grid-row-start: 2;
        grid-row-end: 3;
        border-bottom: 1px solid $color-white;
    }

    &__link-three {
        grid-row-start: 3;
        grid-row-end: 4;
        border-bottom: 1px solid $color-white;
    }

    &__link-four {
        grid-row-start: 4;
        grid-row-end: 5;
        border-bottom: 1px solid $color-white;
    }
}

.container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    border: 1px solid $color-white;
}

#overlay {
    background-color: $color-white;
    opacity: 0.2;
    z-index: 1;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.image-text h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.image-text p {
    font-size: 12px;
}

.project-link {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;;
}


.project-link:hover {
    color: #F6cc55;
    transition: 0.3s ease-in;
    transform: rotate(10deg);
}

.project-link:active {
    color: #b0708a;
}

.info {
    &__star-one {
        position: absolute;
        font-size: 7px;
        left: 18px;
        top: 18px;
        animation-iteration-count: infinite;
        animation-name: twinkle;
        animation-duration: 2s;
    }

    &__star-two {
        position: absolute;
        font-size: 6px;
        left: 10px;
        top: 36px;
        animation-iteration-count: infinite;
        animation-name: twinkle;
        animation-duration: 1.9s;
    }

    &__star-three {
        position: absolute;
        font-size: 12px;
        left: 21px;
        top: 46px;
        animation-iteration-count: infinite;
        animation-name: twinkle;
        animation-duration: 2.1s;
    }
}

.fa-envelope {
    font-size: 64px;
    padding-top: 60px;
    padding-right: 30px;
}

.fa-envelope:hover {
    color: #F6cc55;
    transition: 0.3s ease-in;
    transform: rotate(10deg);
}

.fa-envelope:active {
    color: #b0708a;
}

.fa-github {
    font-size : 64px;
    padding-top: 60px;
    padding-left: 30px;
}

.fa-github:hover {
    color: #F6cc55;
    transition: 0.3s ease-in;
    transform: rotate(10deg);
}

.fa-github:active {
    color: #b0708a;
}

@media screen and (min-width: 768px) {
    .header__star-one {
        font-size: 16px;
        left: 17px;
        top: 23px;
    }

    .header__star-two {
        font-size: 13px;
        left: 54px;
        top: 35px;
    }

    .header__star-three {
        font-size: 10px;
        left: 33px;
        top: 63px;
    }

    .projects__star-one {
        font-size: 21px;
    }

    .projects__star-two {
        font-size: 15px;
    }

    .info {
        &__star-one {
            font-size: 14px;
            left: 45px;
            top: 32px;
        }
        &__star-two {
            font-size: 9px;
            left: 25px;
            top: 67px;
        }
        &__star-three {
            font-size: 21px;
            left: 45px;
            top: 91px;
        }
    }

    .image-text h3 {
        margin-top: 10px;
        font-size: 24px;
    }
    
    .image-text p {
        font-size: 18px;
    }
    
    .project-link {
        font-size: 36px;;
    } 
    .container {
        grid-template-columns: 1fr 1fr;
        height: 80%;

        &__link-one {
            grid-row-start: 1;
            grid-row-end: 2;
        }
    
        &__link-two {
            grid-row-start: 2;
            grid-row-end: 3;
        }
    
        &__link-three {
            grid-row-start: 1;
            grid-row-end: 2;
        }
    
        &__link-four {
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }
    .container img {
        width: 85%;
        height: auto;
    }

    .fa-envelope {
        font-size: 96px;
    }

    .fa-github {
        font-size: 96px;
    }
}

@keyframes twinkle {
    20% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

@keyframes shooting {
    from {
        left: -100px;
        top: 300px;
    }
    to {
        left: calc( 100% + 100px );
        top: 100px;
    }
}