h1 {
    font-family: "Archivo Black";
    font-size: 24px;
}

.header {
    height: 100vh;

    &__nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

        &__link {
            padding-right: 5%;
            text-decoration: none;
            font-size: 12px;
        }

        &__link:hover {
            color: #F6cc55;
            transition: 0.3s ease-in;
            transform: rotate(10deg);
        }

        &__link:active {
            color: #b0708a;
        }
    }

    &__welcome {
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__welcome > h1 {
        margin-top: 10%;
        margin-bottom: 2%;
    }

    &__welcome > h2 {
        margin-bottom: 5%;
        font-size: 18px;
    }

    &__link {
        text-decoration: none;
        font-size: 14px;
        font-family: "Archivo Black";
        
    }

    &__link:hover {
        color: #F6cc55;
        transition: 0.3s ease-in;
        transform: rotate(10deg);
    }

    &__link:active {
        color: #b0708a;
    }
        


    &__svg {
        height: 30vh;
    }

}

.projects {
    min-height: 100vh;
    position: relative;
    text-align: center;

    &__header {
        padding: 3%;
    }
}

.info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__about {
        height: 35vh;
        text-align: center;
        padding-top: 5%;
    }

    &__contact {
        height: 35vh;
        text-align: center;
    }

    &__svg {
        height: 30vh;
    }

}

.info__about > p {
    font-size: 14px;
}

.info__contact > p {
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .header__nav__link {
        font-size: 18px;
    }

    .header__link {
        font-size: 18px;
    }

    h1 {
        font-size: 36px;
    }

    .header__welcome > h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 991px) {
    .header__nav__link {
        
    }
}
