@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
  color: #fafafa;
}

.header {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #51769E 100%), linear-gradient(180deg, #260184 99.99%, rgba(196, 196, 196, 0) 100%);
}

.projects {
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #260184 94.79%), linear-gradient(180deg, #51769E 99.99%, rgba(255, 255, 255, 0.85) 100%);
}

.info {
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #51769E 100%), linear-gradient(180deg, #260184 99.99%, #FFFFFF 100%);
}

.header__star-one {
  position: absolute;
  font-size: 9px;
  left: 17px;
  top: 23px;
  animation-iteration-count: infinite;
  animation-name: twinkle;
  animation-duration: 2s;
}
.header__star-two {
  position: absolute;
  font-size: 8px;
  left: 34px;
  top: 28px;
  animation-iteration-count: infinite;
  animation-name: twinkle;
  animation-duration: 1.9s;
}
.header__star-three {
  position: absolute;
  font-size: 6px;
  left: 26px;
  top: 42px;
  animation-iteration-count: infinite;
  animation-name: twinkle;
  animation-duration: 2.1s;
}
.header__shooting-star {
  position: absolute;
  font-size: 4px;
  left: -100px;
  animation-name: shooting;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.nav__link {
  padding-right: 5%;
  text-decoration: none;
  font-size: 12px;
}
.nav__link:hover {
  color: #F6cc55;
  transition: 0.3s ease-in;
}
.nav__link:active {
  color: #b0708a;
}

.welcome__link {
  text-decoration: none;
  font-size: 14px;
  font-family: "Archivo Black";
}
.welcome__link:hover {
  color: #F6cc55;
  transition: 0.3s ease-in;
  transform: rotate(10deg);
}
.welcome__link:active {
  color: #b0708a;
}

.projects__star-one {
  position: absolute;
  font-size: 14px;
  right: 5%;
  bottom: 12%;
  animation-iteration-count: infinite;
  animation-name: twinkle;
  animation-duration: 2.1s;
}
.projects__star-two {
  position: absolute;
  font-size: 8px;
  right: 3%;
  bottom: 6%;
  animation-iteration-count: infinite;
  animation-name: twinkle;
  animation-duration: 1.9s;
}

.container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  border: 1px solid #fafafa;
}

#overlay {
  background-color: #fafafa;
  opacity: 0.2;
  z-index: 1;
}

.image-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.image-text h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.image-text p {
  font-size: 12px;
}

.project-link {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
}

.project-link:hover {
  color: #F6cc55;
  transition: 0.3s ease-in;
  transform: rotate(10deg);
}

.project-link:active {
  color: #b0708a;
}

.info__star-one {
  position: absolute;
  font-size: 7px;
  left: 18px;
  top: 18px;
  animation-iteration-count: infinite;
  animation-name: twinkle;
  animation-duration: 2s;
}
.info__star-two {
  position: absolute;
  font-size: 6px;
  left: 10px;
  top: 36px;
  animation-iteration-count: infinite;
  animation-name: twinkle;
  animation-duration: 1.9s;
}
.info__star-three {
  position: absolute;
  font-size: 12px;
  left: 21px;
  top: 46px;
  animation-iteration-count: infinite;
  animation-name: twinkle;
  animation-duration: 2.1s;
}

.fa-envelope {
  font-size: 64px;
  padding-top: 60px;
  padding-right: 30px;
}

.fa-envelope:hover {
  color: #F6cc55;
  transition: 0.3s ease-in;
  transform: rotate(10deg);
}

.fa-envelope:active {
  color: #b0708a;
}

.fa-github {
  font-size: 64px;
  padding-top: 60px;
  padding-left: 30px;
}

.fa-github:hover {
  color: #F6cc55;
  transition: 0.3s ease-in;
  transform: rotate(10deg);
}

.fa-github:active {
  color: #b0708a;
}

@media screen and (min-width: 768px) {
  .header__star-one {
    font-size: 16px;
    left: 17px;
    top: 23px;
  }
  .header__star-two {
    font-size: 13px;
    left: 54px;
    top: 35px;
  }
  .header__star-three {
    font-size: 10px;
    left: 33px;
    top: 63px;
  }

  .nav__link {
    font-size: 18px;
  }

  .welcome__link {
    font-size: 18px;
  }

  .projects__star-one {
    font-size: 21px;
  }
  .projects__star-two {
    font-size: 15px;
  }

  .info__star-one {
    font-size: 14px;
    left: 45px;
    top: 32px;
  }
  .info__star-two {
    font-size: 9px;
    left: 25px;
    top: 67px;
  }
  .info__star-three {
    font-size: 21px;
    left: 45px;
    top: 91px;
  }

  .image-text h3 {
    margin-top: 10px;
    font-size: 24px;
  }

  .image-text p {
    font-size: 18px;
  }

  .project-link {
    font-size: 36px;
  }

  .container img {
    max-width: 90%;
    height: 85%;
  }

  .fa-envelope {
    font-size: 96px;
  }

  .fa-github {
    font-size: 96px;
  }
}
@keyframes twinkle {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
@keyframes shooting {
  from {
    left: -100px;
    top: 300px;
  }
  to {
    left: calc( 100% + 100px );
    top: 100px;
  }
}
h1 {
  font-family: "Archivo Black";
  font-size: 24px;
}

.header {
  height: 100vh;
}
.header__svg {
  height: 30vh;
}

.welcome {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome > h1 {
  margin-top: 10%;
  margin-bottom: 2%;
}

.welcome > h2 {
  margin-bottom: 5%;
  font-size: 18px;
}

.nav {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.projects {
  min-height: 100vh;
  position: relative;
  text-align: center;
}
.projects__header {
  padding: 3%;
}

.container {
  width: 70%;
  height: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2%;
  border-top: 1px solid #fafafa;
  position: relative;
}
.container__link-one {
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid #fafafa;
  position: relative;
}
.container__link-two {
  grid-row-start: 2;
  grid-row-end: 3;
  border-bottom: 1px solid #fafafa;
}
.container__link-three {
  grid-row-start: 3;
  grid-row-end: 4;
  border-bottom: 1px solid #fafafa;
}
.container__link-four {
  grid-row-start: 4;
  grid-row-end: 5;
  border-bottom: 1px solid #fafafa;
}

.info {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__about {
  height: 50vh;
  text-align: center;
  width: 75%;
}
.info__contact {
  height: 50vh;
  text-align: center;
  width: 75%;
}
.info__svg {
  height: 30vh;
}
.info__about > h1 {
  padding-top: 5%;
}
.info__about > p {
  padding-top: 3%;
  font-size: 14px;
  line-height: 1.7em;
}
.info__contact > p {
  font-size: 14px;
  padding-top: 3%;
  line-height: 1.7em;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
  }

  .welcome > h2 {
    font-size: 24px;
  }

  .info__about > p {
    font-size: 24px;
  }
  .info__contact > p {
    font-size: 24px;
  }
  .info__contact > h1 {
    padding-top: 5%;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    height: 80%;
  }
  .container__link-one {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .container__link-two {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .container__link-three {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .container__link-four {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}