@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
  color: #fafafa;
}

.header {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #51769E 100%), linear-gradient(180deg, #260184 99.99%, rgba(196, 196, 196, 0) 100%);
}

.projects {
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #260184 94.79%), linear-gradient(180deg, #51769E 99.99%, rgba(255, 255, 255, 0.85) 100%);
}

.info {
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #51769E 100%), linear-gradient(180deg, #260184 99.99%, #FFFFFF 100%);
}

.header {
  height: 100vh;
}
.header__nav {
  height: 10vh;
}
.header__welcome {
  height: 60vh;
}
.header__svg {
  height: 30vh;
}

.projects {
  height: 100vh;
}

.info {
  height: 100vh;
}
.info__about {
  height: 35vh;
}
.info__contact {
  height: 35vh;
}
.info__svg {
  height: 30vh;
}